@import url('https://fonts.googleapis.com/css2?family=Fuente1|Fuente2');

/* Colores */

body {
    font-family: 'EB Garamond', serif;
    background-color: rgb(246,237,228);
}

h1 {
    font-family: 'EB Garamond', serif;
}

/* ----------------------------------------------------------- */

iframe {
    width: 500px;
    height: 256px;
    border: 0;
}

.contenedor_carr {
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
}

.contenedor_carr img {
    width: 100%;
    height: auto;
}

.whatsapp-boton {


    padding: 20px 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    background-image: url('../images/gratis-png-whatsapp-thumbnail.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 30px;
  }
  