@import url('https://fonts.googleapis.com/css2?family=Fuente1|Fuente2');

body {
    font-family: 'font-family: 'EB Garamond', serif;', sans-serif;
    background-color: rgb(246,237,228);
}

h1 {
    font-family: 'font-family: 'EB Garamond', serif;', sans-serif;
}
