@import url('https://fonts.googleapis.com/css2?family=Fuente1|Fuente2');

/* Colores */

body {
    font-family: 'EB Garamond', serif;
    background-color: rgb(246,237,228);
}

h1 {
    font-family: 'EB Garamond', serif;
}

/* ----------------------------------------------------------- */

iframe {
    width: 500px;
    height: 256px;
    border: 0;
}

.contenedor_carr {
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
}

.contenedor_carr img {
    width: 100%;
    height: auto;
}
